name: Test extension build

#
on:
  pull_request:

defaults:
  run:
    shell: bash
    working-directory: ./

jobs:
  build-extension-charts:
    uses: rancher/dashboard/.github/workflows/extensions-build-test.yaml@reusab-workflow-test
    # with:
    #   disable_exts_build: elemental,elemental-v2